body{
	 /*background: linear-gradient(to left, #FF4500, #FF7F50, white, #FF7F50, #FF4500);*/
	 border-style: solid;
	border-color: white;
 background: linear-gradient(60deg, #FF2A00 20%, rgba(0, 0, 0, 0) 20%), linear-gradient(30deg, #FF4D03 60%, #FF6201 20%);
 min-height: 100%;
    height: auto !important;
    margin-bottom: 0 auto -30px;
 	 /*background: linear-gradient(26deg, #FF2A00 30%, rgba(0, 0, 0, 0) 30%), #FF4D03 60%, #FF6201 30%);*/
}
#main{
	margin: auto;

}
#login_form{
	width: 20%;
	background-color: #FFE4B5;
	border-radius: 12px;
	height: 50%;
}
form{
	padding-top: 10%;
}
#submitbtn{
	color: white;
	padding: 5px;
	border-radius: 5px;
	background-color: #FF4500;
	border-color: E9967A;
}
#submitbtn:hover{
	background-color: #D2691E;
}
#submitbtn:focus{
	background-color: #DEB887;
}
